{{- if .Values.redis.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.redis.name }}
  namespace: {{ include "tg-calendar-bot.namespace" . }}
  labels:
    {{- include "tg-calendar-bot.redis.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
  - port: 6379
    targetPort: 6379
    protocol: TCP
    name: redis
  selector:
    app: {{ .Values.redis.name }}
{{- end }}

